[user]
  name = Erik Krieg
  email = 10244162+erikkrieg@users.noreply.github.com

[core]
  editor = nvim
  pager = delta

[init]
  defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[add.interactive]
    useBuiltin = false # required for git 2.37.0

[delta]
    navigate = true
    light = false
    syntax-theme = "DarkNeon"

# This feature is enabled via DELTA_FEATURES env var. This allows for toggling
# which is unfortunately not very easy to do with delta. See issues like:
# https://github.com/dandavison/delta/issues/1229
[delta "default"]
    side-by-side = true

# Used in fzf previews. Commonly as part of fzf-tab completions.
[delta "preview"]
    side-by-side = false

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
